.loader{
  position: absolute;
  width: 100%;
  height: 100vh; 
  background-color: black;

  .inner-container{
    width: 500px;
    height: 50px;
    background-color: maroon;
    border-radius: 50%;
  }
}

