@import '../../css-config/mixins.scss';
@import '../../css-config/variables.scss';


.outer-container{
    background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    // border: 2px solid green;
    .inner-container{
        // border: 2px solid red;
        width: 100%;
        background: none;
        color:$yellow;
        h1{
            width: 100%;
            font-size: 5rem;
            font-weight: 900;
        }
    }
}