@import "../../../css-config/mixins.scss";
@import "../../../css-config/variables.scss";

.hero-banner {
  position: relative;
  height: calc(100vh - 50px);
  width: 100%;
  @include md {
    height: calc(100vh - 180px);
  }
  background-attachment: fixed;
  overflow: hidden;

  .image-container {
    width: 100%;
    height: calc(100vh - 180px);
    img {
      width: 100%;
    }
    .shop {
      position: absolute;
      z-index: 2;
      top: 70%;
      left: 10%;
      border: none;
      outline: none;
      display: none;
      @include md {
        padding:10px 20px;
        border-radius: 20px;
        font-size: 1.5rem;
        display: flex;
        background: $mustard;
      }
      &:hover{
        background-color: $white;
        color: $mustard;
        transform: scale(.90);
      }
    }

  }
}
