@import "../../css-config/mixins.scss";
@import "../../css-config/variables.scss";

.main-header {
  overflow: hidden;
  width: 100%;
  padding: 0 20px;
  background: $black;
  color: $white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  @include md {
    padding: 0 40px;
    backdrop-filter: blur(5px);
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    max-width: 1200px;
    margin: 0 auto;

    @include md {
      height: 70px;
    }
    .left {  
      font-size: 22px;
      display: none; 
      font-weight: 700;
      cursor: pointer;
      transition: all 100ms linear;
      &:hover{
        color: $mustard;
      }
      @include md {
        font-size: 34px;
        display: flex;
      }
      img{
        // border: 2px solid red;
      width: 150px;
      }
    }
    .center {
      list-style-type: none;
      display: flex;
      gap: 25px;
      color: white;
      @include md {
      }

      li {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        &:hover{
          color: $yellow;
        }
        a{
          list-style: none;
          text-decoration: none;
          color: $white;
          &:hover{
            color: $yellow;
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      // border: 2px solid red;
      @include md {
        gap: 25px;
      }
      svg {
        font-size: 20px;
        cursor: pointer;
        @include md {
          font-size: 20px;
        }
      }
      .cart-icon {
        position: relative;
        span {
          min-width: 20px;
          text-align: center;
          animation: popup .2s 1 forwards;
          background-color: $yellow;
          color: $black;
          font-weight: 700;
          padding: 2.5px;
          position: absolute;
          top: -5px;
          right: -12px;
          font-size: 12px;
          line-height: 1;
          border-radius: 10px;
        }
      }
      button{
        background-color: $white;
        outline: none;
        color: $black;
        padding: 2px 10px;
        border-radius: 10px;
      }
      h4{
        cursor: pointer;
      }
      .profile-pic{
       width: 40px;
       border-radius: 50%;
      }
    }
  }

  &.sticky-header {
    position: sticky;
    top: 0;
    transform: translateY(-80px);
    animation: stickyHeader 0.3s ease-in-out forwards;
  }
}

.expanded-header {
  opacity: 0;
  background: transparent;
  color: $black;
  position: absolute;
  z-index: 999;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: row;
  padding: 0 0px;
  .left {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .right {
    display: flex;
    gap:100px;
    .list {
      list-style:disc;
      li {
        margin: 10px;
      }
    }
  }
}

.showExpandedMenu{
  animation: expandedHeader .5s ease forwards;
}




@keyframes expandedHeader {
  0% {
    transform: translateY(00px);
    opacity: 0.2;
    backdrop-filter: blur(0px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
   backdrop-filter: blur(10px);
  }
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes popup {
0%{
opacity: 0;
transform: scale(0);

}
25%{
  opacity: 0;
  transform: scale(.5);
}
50%{
  opacity: 0;
  transform: scale(1);
}
75%{
  opacity: 0.5;
  transform: scale(1.5);
  box-shadow: 0px 0px 20px 5px $mustard;
  transform: translateX(-1);
}
100%{
  opacity: 1;
  transform: scale(1);
  transform: translateX(1);
}
}