@import "../../../css-config/mixins.scss";

.shop-by-category {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include md {
    margin: 50px 0;

  }
  h2{
font-size: 2.5rem;
margin: 30px 0;
  }
  .categories {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0 10px;
    gap: 20px;
    // border: 2px solid red;
    @include md{
        padding: 0;
    }
    .category {
      display: flex;
      // border: 2px solid red;
      width: calc(25% - 5px);
      cursor: pointer;
      overflow: hidden;
      @include md {
        width:40%;
        border-radius: 10px;
        height: 300px;
      }
      img {
        width: 100%;
        display: block;
        transition: all ease 0.3s;
      }
      &:hover{
        img{
            transform: scale(1.2);
        }
      }
    }
  }
}
