@import "../../css-config/mixins.scss";
@import "../../css-config/variables.scss";

.single-product-main-content {
  margin: 20px 0;
  @include md {
    margin: 75px 0;
  }
  .layout {
    max-width: calc(100% - 20px);
    margin: 0 auto;
    @include md {
      max-width: 1200px;
    }
    .single-product-page {
      display: flex;
      flex-direction: column;
      @include md {
        flex-direction: row;
      }
      .left {
        width: 100%;
        background-color: $white;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include md {
          width: 600px;
          height:500px;
        }
        img {
          max-width: 100%;
          display: block;
          max-height:100% ;
          // border: 2px solid red;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        @include md {
          padding: 0 35px;
        }
        .name {
          font-size: 20px;
          line-height: 28px;
          margin-bottom: 20px;
          @include md {
            font-size: 24px;
            line-height: 32px;
          }
        }
        .price{
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 20px;
            font-weight: bold;
            color: $yellow;
        }
        .desc{
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 20px;  
            color: #ababab;
            @include md{
                font-size: 16px;
                line-height: 24px; 
            }
        }
        .cart-buttons{
            display: flex;
            @include md{
                margin-top: 30px;
            }
            .quantity-buttons{
                width: fit-content;
                display: flex;
                border: 2px solid rgba(255, 255, 255, 0.5);
                margin-right: 10px;
                height: 50px;
                span{
                  outline: none;
                    font-size: 18px;
                    width: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    color: $white;
                    &:nth-child(1){
                        border-right: 2px solid rgba(255, 255, 255, 0.5) ;
                    }
                    &:nth-child(2){
                       width: 60px;
                    }
                    &:nth-child(3){
                        border-left: 2px solid rgba(255, 255, 255, 0.5);
                    }
                }
            }
            .add-to-cart-button{
                outline: 0;
                border: 0;
                height: 50px;
                width: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 16px;
                color: white;
                background: $mustard;
                border-bottom:3px solid  $mustard;
                flex-grow: 1;
                @include md{
                    flex-grow: unset;
                }
            }
        }
        .divider{
            margin: 20px 0;
            // border: 2px solid red;
            height: 1px;
            width: 100%;
            background-color:$yellow;
        }

        .info-item{
          .text-bold{
            font-size: 18px;
            font-weight: 500;
            display: block;
            &:nth-child(1){
                margin-bottom: 20px;
            }
            &:nth-child(2){
              //  border: 2px solid red;
               .social-icons{
                a{
                  text-decoration: none;
                  color: $yellow;
                 .icon{
                  transition: all .2s ease-in;
                   &:hover{
                     transform: scale(1.5);
                   }
                 }
                }
               }
            }
            span{
              font-size: 16px;
              font-weight: 400px;  
              cursor: pointer;
            }
            svg{
                margin: 0 5px; 
            }
          }   
        }
      }
    }
  }
}
