@import "../../../css-config/mixins.scss";
@import "../../../css-config/variables.scss";

.category-container {
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: $mustard;
  // border: 2px solid red;

  .category {
    width: 30%;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .category-image {
      height: 100%;  
      &:hover{
        animation: .5s ease-in 0.5s reverse both slider;
      }
    }
  }
}

@keyframes slider {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(-1);
  }
}
