@import "../../../css-config/mixins.scss";
@import "../../../css-config/variables.scss";

.category-container {
  // border: 2px solid red;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: $mustard;

  .category {
    // border: 2px solid red;
    width: 30%;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease-in;
    height: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    .category-image {
      height: 100%;  
      &:hover,&:focus{
        animation: .8s ease-in forwards flip360;
        // transform: scaleX(-1);
      }
    }
    &:hover,&:focus{
     transform: scale(1.2);
    }
  }
}

@keyframes flip360 {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
